[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
google-auth-oauthlib = "*"
google-api-python-client = "*"
pyperclip = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
